.greetings-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.big-button {
    width: 150px;
    height: 150px;
    font-size: 1.5rem;
    cursor: pointer;
}